*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background: #f3f5f9;
}

.dwnld{
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    padding: 12px 28px;
}

.dwnld:hover{
    cursor: pointer;
}

.tab{
    float: left;
    border: 1px solid #ccc;
    background: #0000ff;
    width: 20%;
    height: 100vh;
}

img{
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 30px;

}

h3{
    font-size: 26px;
    color: burlywood;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Lucida Console, Monaco5, monospace';
}


.tab button{
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.tab button:hover{
    background: lightblue;
}

.tab button.active{
    background:darkcyan;
}

.tabcontent{
    float: left;
    padding: 0px 12px;
    height: 100vh;
    padding-top: 60px;
    font-size: 24px;
}

#Skills li{
    list-style-position: inside;
}

h2{
    font-size: 38px;
    font-weight: bold;
    padding: 10px;
    color: darkblue;
    font-family: 'Lucida Console, Monaco5, monospace';
}

@media screen and (max-width:1200px){
    .tab{
        width: 100%;
        height: auto;
        position: relative;
    }

    .tab button{float: left;}
    div.tabcontent{margin-left: 0;}
}

@media screen and (max-width:400px){
    .tab button{
        text-align: center;
        float: none;
        width: 100%;
    }
}

