html, body {
height: 100%;
width: 100%;
margin:0; /* new */
}


.main-page{
margin-top : 3rem;
}

/*
.main-page{
    max-width : 800px;
    margin : 0;
}

.navbar-light{
    margin-top: 5rem;
    margin-bottom: 7rem;
}

*/
.navbar-brand{
    font-size: 4rem;
    color: black;
    font-family: 'Times New Roman';
	padding-left : 6rem;
}

.navbar-nav{
    font-size: 1.7rem;
}

.navbar-nav button{
    border : none;
    outline: none;
    background-color: white;
    margin-right: 1.5rem;
}

.item{
    color : black;
}

.navbar-nav .active{
    border-bottom: 3px solid gray;
}

.navbar-toggle .icon-bar {
    background-color: rgb(136, 136, 136);
}

.content{
    font-size: 1.2em;
    line-height: 1.5;
}

#date{
	float : right;
	position : relative;
}

.icon>a{
    font-size: 2rem;
}

.contact-page>a{
    color : blue;
}

.container>h3{
    font-family: 'Times New Roman', monospace;
}

@media (max-width : 825px){
    .tabcontent{
        font-size: 1.4rem;
    }
    .table{
        max-width: 300px;
    }
    .main-page{
        max-width: 100%;
    }
    .icon>a{
        font-size : 2rem;
    }
    .navbar-nav{
        margin-left: 5px;
    }
    .item{
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
